/* CSS for the Index route */
header {
    width: 100%;
    height: 50px;
    background-color: #3e9ff8;
    color: whitesmoke;
    box-shadow: 0px 2px 5px #888;
}

#header-logo {
    display: inline-block;
    width: 15%;
    float: left;
    color: black;    
}

a {
    text-decoration: none; 
    color: whitesmoke;
}

a:hover {
    color: grey;
    opacity: 50%;
}

a.logout-link {
    color: red;
}
.header-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    padding-top: 10px;
}

#header-about {
    display: inline-block;
    width: 15%;
    float: left;

}

#header-login {
    display: inline-block;
    width: 15%;
    float: right;
}

#header-signup {
    display: inline-block;
    width: 15%;
    float: right;
}

body {
  background-color: beige;
}

.top-row {
    display: block;
    width: 100%;
    /* height: 350px; */
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.row {
    display: block;
    width: 100%;
    height: 350px;
    margin-left: 5%;
    margin-right: 5%;
}

.row-for-stock-timeline {
    display: block;
    width: 100%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.stock-timeline {
    text-align: left;
    background-color: lightgray;
    background-color: darkgray;
    color: black;
    position: absolute;
    width: 60%;
    border: 1px solid #555;
    box-shadow: 0px 1px 2px #888;
}

.links-for-stock-timeline {
    width: 22.5%;
    text-align: center;
    display: inline-block;
}

#chart {
    width: 60%;
    float: left;
}

/* CSS for the Stock list to the right of the Chart */
#stock-ticker-container {
    width: 25%;
    margin-left: 5%;
    display: inline-block;
    text-align: center;
}

#add-stock-form {
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: large;
    
    color: #FF4500;
    color: white;
    background-color: lightgray;
    background-color: darkgrey;
    
    width: 98%;
    height: 32px;

    border: 1px solid #555;
    box-shadow: 0px 1px 2px #888;
}

.stock-input-form-component {
    width: 29%;
}

#user-stocks-list {
    overflow: auto;
    height: 500px;
    scrollbar-base-color:gold;
}

.user-stock-single-entry {
    width: 100%;
}

.stock-grab-link {
    width: 63%;
    height: 30px;
    display: inline-block;
    float: left;
    text-align: center;
    padding-top: 6px;

    background-color: #3e9ff8;
    color: white;

    box-shadow: 0px 2px 5px #888;
    border: 1px solid #555;
}

.stock-delete-link {
    color: black;
    width: 33%;
    height: 30px;
    display: inline-block;
    margin-bottom: 5px;    
    background-color: #FF4500;
    padding-top: 6px;

    box-shadow: 0px 2px 5px #888;
    border: 1px solid #555;
}

/* CSS for the Stock Info below the Chart */
#stock-company-info-container {
    text-align: left;
    background-color: lightgray;
    color: black;
    position: absolute;
    width: 60%;
    border: 1px solid #555;
    box-shadow: 0px 1px 2px #888;
}

#stock-company-title {
    color: #FF4500;
    font-size: larger;
    margin-left: 10px;
    margin-bottom: 10px;
}

.company-info-headers {
    margin: 5px 10px;
}

.company-info-data {
    font-size: small;
    margin: 5px 10px;
}

/* CSS for the login route */
#login-block {
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: center;
    
    width: 400px;
    height: 200px;
    
    background-color: #3ecff8;

    border: 1px solid #555;
    box-shadow: 0px 1px 2px #888;
}

.form-label {
    color: black;
    font-size: larger;
    margin-right: 130px;
}

.form-input {
    color: black;
    font-size: larger;

    margin-bottom: 15px;
}

.form-submit {
    width: 100px;
    height: 25px;
    box-shadow: 0px 1px 2px #888;
}


/* CSS for the Signup route */
#signup-block {
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: center;
    
    /* width: 35%; */
    width: 400px;
    height: 300px;
    
    background-color: #3ecff8;

    border: 1px solid #555;
    box-shadow: 0px 1px 2px #888;
}

.confirm-password-form-label {
    color: black;
    font-size: larger;
    margin-right: 65px;
}

.email-form-label {
    color: black;
    font-size: larger;
    margin-right: 159px;
}