header {
    width: 100%;
    height: 50px;
    /* background-color: limegreen; */
    background-color: #3e9ff8;
    color: whitesmoke;
}

#header-logo {
    display: inline-block;
    width: 15%;
    float: left;
    color: black;    
}

a {
    text-decoration: none; 
    color: whitesmoke;
}

a:hover {
    color: grey;
    opacity: 50%;
}

a.logout-link {
    color: red;
}
.header-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    padding-top: 10px;
}

#header-about {
    display: inline-block;
    width: 15%;
    float: left;

}

#header-login {
    display: inline-block;
    width: 15%;
    float: right;
}

#header-signup {
    display: inline-block;
    width: 15%;
    float: right;
}

body {
  /* background-color: yellow; */
  background-color: beige;
}

.row {
    display: block;
    width: 100%;
    height: 350px;
}

#chart {
    width: 75%;
    float: left;
}

#stock-ticker-container {
    width: 25%;
    float: right;
    text-align: center;
    /* display: inline-block; */
    /* display: block; */
}

#add-stock-form {
    margin-bottom: 20px;
    color: palevioletred;
}

.user-stock-single-entry {
    width: 100%;
}

.stock-grab-link {
    width: 65%;
    height: 30px;
    display: inline-block;
    float: left;
    text-align: center;

    background-color: #3e9ff8;
    color: white;
}

.stock-delete-link {
    color: black;
    width: 35%;
    height: 30px;
    display: inline-block;
    margin-bottom: 5px;    
    background-color: #FF4500;;
}

#stock-company-info-container {
    text-align: left;
    background-color: blue;
    color: red;
    position: absolute;
    width: 70%;
}

#test {
    color: red;
}