header {
    width: 100%;
    height: 50px;
    background-color: limegreen;
    color: whitesmoke;
}

#header-logo {
    display: inline-block;
    width: 15%;
    float: left;
    color: black;    
}

a {
    text-decoration: none; 
    color: whitesmoke;
}

a:hover {
    color: grey;
    opacity: 50%;
}

a.logout-link {
    color: red;
}
.header-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    padding-top: 10px;
}

#header-about {
    display: inline-block;
    width: 15%;
    float: left;

}

#header-login {
    display: inline-block;
    width: 15%;
    float: right;
}

#header-signup {
    display: inline-block;
    width: 15%;
    float: right;
}

body {
  background-color: yellow;
}

#chart {
    width: 75%;
    float: left;
}

#stock-ticker-container {
    width: 25%;
    float: right;
    text-align: center;
}

#test {
    color: red;
}