<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>

  <body>
    <%- include('./partials/header.ejs'); %>
    <div id="container">
      <div id="test">Test Test</div>  
    </div>
  </body>
</html>