<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>NEW_APP_NAME</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
  </head>

  <body>
    <div id="page-wrap">
      <header id='header'> Header </header>

      <footer id="page-footer"">
        Footer
      </footer>
    </div>

  </body>
</html>