<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>

  <body>
    <%- include('./partials/header.ejs'); %>
    <div id="container">
      <% if (user) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a class='logout-link' href="/logout">LOG OUT</a>
      <% } else { %>
        <h1>please log in</h1>
      <%}%>
    </div>
  </body>
</html>