<% if (typeof stockCompanyResponse !== 'undefined') { %>
    <span id='variableJSONCompanyInfo' hidden>
        <%= JSON.stringify(stockCompanyResponse); %>
    </span>
<% } %>

<div id="stock-company-info-container">
    <div id="stock-company-title">
        Company Name: 
    </div>
    <div id="stock-company-about">
        About: 
    </div>
</div>


<script>
    // Had to stick the data in the HTML, then access it in the script below like so...
    let variableJSONCompanyInfo = JSON.parse(document.getElementById('variableJSONCompanyInfo').innerHTML);
    document.getElementById('variableJSONCompanyInfo').remove();

    let companyTitle = variableJSONCompanyInfo['Name'];
    let companyDescription = variableJSONCompanyInfo['Description'];


    // Need a check if this is undefined
    if (companyTitle != 'undefined') {
        document.getElementById('stock-company-title').innerHTML = companyTitle;
    } else {
        document.getElementById('stock-company-title').innerHTML = '';
    }

    if (companyDescription != 'undefined') {
        document.getElementById('stock-company-about').innerHTML = companyDescription;
    } else {
        document.getElementById('stock-company-about').innerHTML = '';
    }

</script>