<% if (typeof stockCompanyResponse !== 'undefined') { %>
    <span id='variableJSONCompanyInfo' hidden>
        <%= JSON.stringify(stockCompanyResponse); %>
    </span>
<% } %>

<div id="stock-company-info-container">
    
    <!-- <h3>Company Name: </h3> -->
    <div id="stock-company-title" class="company-info-data"></div>

    <h3 class="company-info-headers" >About: </h3>
    <div id="stock-company-about" class="company-info-data"></div>
    
    <h3 class="company-info-headers" >Address: </h3>
    <div id="stock-company-about-address" class="company-info-data"></div>
    
    <h3 class="company-info-headers" >Market Capitalization: </h3>
    <div id="stock-company-about-MarketCapitalization" class="company-info-data"></div>

    <h3 class="company-info-headers" >P/E Ratio: </h3>
    <div id="stock-company-about-PERatio" class="company-info-data"></div>


</div>

<script>
    // Had to stick the data in the HTML, then access it in the script below like so...
    let variableJSONCompanyInfo = JSON.parse(document.getElementById('variableJSONCompanyInfo').innerHTML);
    document.getElementById('variableJSONCompanyInfo').remove();

    let companyTitle = variableJSONCompanyInfo['Name'];
    let companyDescription = variableJSONCompanyInfo['Description'];
    let companyDescriptionAddress = variableJSONCompanyInfo['Address'];
    
    let companyDescriptionMarketCapitalization = parseInt(variableJSONCompanyInfo['MarketCapitalization']);
    companyDescriptionMarketCapitalization = (companyDescriptionMarketCapitalization).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');

    let companyDescriptionPERatio = variableJSONCompanyInfo['PERatio'];
    

    // Need a check if this is undefined
    if (companyTitle != 'undefined') {
        document.getElementById('stock-company-title').innerHTML = companyTitle;
        document.getElementById('stock-company-about').innerHTML = companyDescription;
        document.getElementById('stock-company-about-address').innerHTML = companyDescriptionAddress;
        document.getElementById('stock-company-about-MarketCapitalization').innerHTML = '$' + companyDescriptionMarketCapitalization;
        document.getElementById('stock-company-about-PERatio').innerHTML = companyDescriptionPERatio;
    } 

    
</script>