<!-- Make the top header for the App -->
<header>
    <div id='header-logo' class="header-text">
        <a href="/">Marketview</a>
    </div>
    <div id='header-about' class="header-text">
        <a href="/about">About</a>
    </div>
    <div id='header-login' class="header-text">
        <a href="/login">Login</a>
    </div>
    <div id='header-signup' class="header-text">
        <a href="/signup">Sign Up</a>
    </div>
</header>
